*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: RickAndMorty;
  scroll-behavior: smooth;
}

@font-face {
  font-family: RickAndMorty;
  src: url(../fonts/get_schwifty.ttf);
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:url(../img/backg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:#03c8d5;
  text-shadow:
    0 0 7px #0fa,
    0 0 10px #0fa;
  span{
    text-align: center;
  }
  @media(min-width:320px) {
    background-image:url(../img/mobile-backg.jpg) ;
    height: 100vh;
    align-items: start;
    span{
      -webkit-text-stroke: 1px #00000073;
      margin-top: 150px;
      font-size: 8vw;
      width: 70%;
    }
  }
  @media (min-width:440px) {
    -webkit-text-stroke: 1px #000000d8;
    span{
      margin-top: 90px;
    }
  }
  @media(min-width:769px) {

    background-image:url(../img/backg.jpeg);
    span{
      margin-top: 159px;
      -webkit-text-stroke: 1px #000;
      width: 90%;
      font-size: 5vw;
    }
  }
  
}